* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(217, 245, 245);
	/* font-family: Arial, Helvetica, sans-serif; */
	text-align: center;
}

header {
	width: 100%;
	background-color: blue;
	padding: 20px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.p-sm {
	padding: 20px;
}

.my-sm {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mb-sm {
	margin-bottom: 20px;
}

.mt-sm {
	margin-top: 20px;
}

li {
	list-style-type: none;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

code {
	background-color: rgb(200, 200, 200);
	padding: 2px 4px;
	border-radius: 4px;
}

.home-btn {
	margin-left: 35px;
	text-decoration: none;
	font-size: 22px;
	color: black;
}

.text-colour {
	color: rgb(71, 53, 231);
}

.gradient-text {
	font-size: 20px;
	font-weight: bold;
	background: linear-gradient(to right, #d06330 0%, #330867 100%);
	background-clip: text;
	color: transparent;
	text-align: center;
}

.image-size {
	width: 500px;
	height: 600px;
	display: inline-block;
}

.isce-card {
	width: 300px;
	height: 200px;
	padding-top: 10px;
	padding-left: 10px;
	margin-top: 60px;
	background-color: blue;
	border-radius: 10px;
	display: inline-block;
	margin-top: 100px;
	margin-left: 20px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.isce-card-image {
	background-image: url('/images/passport.jpg');
	background-size: cover;
	height: 60px;
	width: 60px;
}

.back-to-top-btn {
	background-color: blue;
	text-decoration: none;
	color: white;
	border-radius: 3px;
	padding: 5px 10px;
}

.back-to-top-btn:hover {
	background-color: rgb(71, 53, 231);
}

#table-spacing {
	margin-left: 100px;
}

.about-page-colour {
	background-color: rgb(117, 109, 109);
	margin: 0%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(57, 103, 67, 0.5);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.progect1-page-margin {
	margin: 0%;
}
.contact-form {
	background-color: white;
	width: 500px;
	height: 700px;
}
.tools-link {
	padding: 10px 16px;
	background: #0078d4;
	color: #fff;
	text-decoration: none;
	border-radius: 6px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 100px;
}
.tools-link:hover {
	background: rgb(165, 154, 212);
}
.tools-page.colour {
	background-color: aqua;
	margin: 0%;
}
